.gradient-button {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    /* Adjust the border radius as needed */
    padding: 10px 20px;
    /* Adjust padding as needed */
    font-size: 16px;
    /* Adjust font size as needed */
    color: #fff;
    /* Text color */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.gradient-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #0085FF, #CC00FF);
    /* Gradient colors */
    z-index: -1;
    border-radius: 8px;
    /* Match the button's border radius */
    padding: 2px;
    /* Width of the border */

}

.gradient-button:hover {
    opacity: 0.8;
    /* Optional: Hover effect */
}