@font-face {
    font-family: 'Inter'; 
    src: url('../../fonts/Inter-Bold.ttf'); 
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container {
    color: white;
    display: flex;
    flex-direction: column ;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-position: center;
}

.header{
    /* border: 2px solid white; */
    height: 12%;
    display: flex;
    align-items: center;

}
.header button:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.header button{
    /* border: 2px solid white; */
    background: none;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.7rem;
    padding: 2% 4%;
}

.body{
    padding-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid white; */
}

.personal-details {
    margin-top: 5%;
    flex : 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.personal-details button{
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: transparent;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    padding: 0px;
    margin: 0px;
}
.personal-details button :hover{
    cursor:pointer;
    cursor: pointer;
    filter: blur(2px);
}
.personal-details img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    padding: 0px;
    margin: 0px;
}
.personal-details p{
    font-size: 1.6rem;
    padding: 2%;
}


.continue-button {
    display: flex;
    flex: 1;
    align-self: flex-end; 
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border-radius: 40px;
}
.cont{
    /* display: flex;
    justify-content: center;
    border-radius: 40px;
    width: 40%;
    border-image: linear-gradient(45deg, #0085FF, #CC00FF) 10;
    border-image-slice: 30 30 30 20 30 30; */
    /* border-image-repeat: round; */
    border: 5px solid transparent;
    border-radius: 100px;
    overflow: hidden;
}


.stats{
    
    flex : 2;
    /* border: 2px solid white; */
    display: flex;
    /* flex-direction: co; */
    justify-content: center;
}

.stats-box{
    background-color: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 1.2rem;
}

.details {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: Inter;
    font-weight: lighter;
}
.account, .username {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.username {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.account p, .username p, .values p{
    font-style: italic;
    font-weight: 100;
    font-size: 0.8rem;
    margin-left: 10px;
    text-transform: none;
}

.current-level{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}
.current-level hr, .account p{
    width: 100%;
    margin: 4% 0;
}
.attr-val-box{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding: 10px;

}

.attributes {
    text-align: center;
    font-size: 0.8rem;
}
.values {
    text-align: center;
}


.stats-box button{
    border-radius: 20px;  
    position: relative;
    background-color: transparent;
    height: 40px;
    width: 20%;
    margin: 0 2% 2% 0;
    align-self: flex-end;
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
    font-weight:bold;
    border: 3px solid #FF0000;
    
}
.stats-box button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

h2{
    text-transform: uppercase;
}
.stats-box h3{
    font-size: 1rem;
}
.stats-box p{
    color: rgba(255, 255, 255, 0.664);
}